<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User</title>
</head>
<body>
<h1>User</h1>
<br/>
<div>
  <table th:border="1">
    <tr>
      <th>ID User</th>
      <th>Name User</th>
      <th>Email User</th>
      <th>Username User</th>
      <th>Password</th>
    </tr>
    <tr>
      <td th:utext="${user.getId()}"></td>
      <td th:utext="${user.getName()}"></td>
      <td th:utext="${user.getEmail()}"></td>
      <td th:utext="${user.getUsername()}"></td>
      <td th:utext="${user.getPassword()}"></td>
    </tr>

    <a th:href="@{{id}/update(id=${user.getId()})}">Update</a>

    <form th:method="DELETE" th:action="@{{id}(id=${user.getId()})}">
      <input type="submit" value="Delete"/>
    </form>
  </table>

  <a href="/logout">EXIT</a>
</div>
</body>
</html>