<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Users List</title>
</head>
<body>
<h1>Users List</h1>
<a href="/admin/addUser">Add User</a>
<br/><br/>
<div>
  <table th:border="1">
    <tr>
      <th>ID User</th>
      <th>Name User</th>
      <th>Email User</th>
      <th>Username User</th>
      <th>Password</th>
    </tr>
    <tr th:each="user : ${users}">
      <td>
        <a th:href="@{users/{id}(id=${user.getId()})}" th:utext="${user.getId()}"></a>
      </td>
      <td th:utext="${user.getName()}"></td>
      <td th:utext="${user.getEmail()}"></td>
      <td th:utext="${user.getUsername()}"></td>
      <td th:utext="${user.getPassword()}"></td>
    </tr>
  </table>

  <a href="/logout">EXIT</a>
</div>
</body>
</html>