<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <title>Admin panel</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <form class="form-inline">
            <b><span class="navbar-text-xl text-white" th:text="${user.getEmail}"></span></b>
            <span class="navbar-text-xl text-white">&nbsp with roles: &nbsp</span>
            <span class="navbar-text-xl text-white" th:text="${user.getRolesAsString()}"></span>
        </form>

        <ul class="navbar-nav float-lg-right">
            <li class="nav-item">
                <a class="nav-link text-muted" th:href="@{/logout}">EXIT</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid bg-light">
    <div class="row">
        <!--        левая колонка-->

        <div class="col-sm-2 bg-white min-vh-100">
            <ul class="nav nav-pills flex-column">
                <br/>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/admin}">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " th:href="@{/user}">User</a>
                </li>
            </ul>
        </div>
        <script>
            function show(shown, hidden) {
                document.getElementById(shown).style.display = 'block';
                document.getElementById(hidden).style.display = 'none';
                return false;
            }
        </script>

        <!--                    Правая колонка-->
        <div class="col-sm-10 bg-light">
            <br>
            <h1>Admin panel</h1>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a id="add_new_user" class="nav-link active" data-toggle="tab" href="#users_table">List users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#addUser">Add user</a>
                </li>
            </ul>


            <!--                    Таблица-->

            <div class="tab-content">
                <div class="tab-pane table-striped container-fluid active" id="users_table">
                    <div class="row">
                        <div class="col border bg-light">
                            <p><h5>List users</h5>
                        </div>
                        <div class="w-100"></div>
                        <div class="col border bg-white">
                            <br/>
                            <table class="table table-hover">
                                <thread>
                                    <tr>
                                        <th>Id</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Username</th>
                                        <th>Role</th>
                                        <th>Update</th>
                                        <th>Delete</th>
                                    </tr>
                                </thread>
                                <tbody id="allUsers">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="modal" id="modalUpdate">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form id="formUpdate">
                                <div class="modal-header">
                                    <h4 class="modal-title">Update user</h4>
                                    <button type="button" class="close" data-dismiss="modal">
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group row justify-content-center text-center">
                                        <div class="col-sm-6">
                                            <strong><label for="updateId">ID </label></strong>
                                            <input type="number" class="form-control"
                                                   id="updateId" name="id" readonly>
                                            <br/>

                                            <strong><label for="updateName">Name</label></strong>
                                            <input type="text" class="form-control"
                                                   id="updateName" name="name"
                                                   required minlength="1" maxlength="50">
                                            <br/>

                                            <strong><label for="updateEmail">Email</label></strong>
                                            <input type="text" class="form-control"
                                                   id="updateEmail" name="email">
                                            <br/>

                                            <strong><label
                                                    for="updateUsername">Username</label></strong>
                                            <input type="text" class="form-control"
                                                   id="updateUsername" name="username"
                                                   required minlength="1" maxlength="50">
                                            <br/>

                                            <strong><label
                                                    for="updatePassword">Password</label></strong>
                                            <input type="password" class="form-control"
                                                   id="updatePassword" name="password">
                                            <br/>

                                            <strong><label for="updateRoles">Role</label></strong>
                                            <select multiple class="custom-select w-100"
                                                    size="2"
                                                    id="updateRoles"
                                                    name="nameRoles">
                                                <option value="2_ADMIN">ADMIN</option>
                                                <option value="1_USER" selected>USER</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer justify-content-end">
                                    <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close
                                    </button>
                                    <input type="submit" class="btn btn-primary"
                                           value="Update"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="modal" id="modalDelete">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <form>
                                <div class="modal-header">
                                    <h4 class="modal-title">Delete user</h4>
                                    <button type="button" class="close" data-dismiss="modal">
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group row justify-content-center text-center">
                                        <div class="col-sm-6">

                                            <strong><label for="deleteId">ID</label></strong>
                                            <br/>
                                            <input type="number" class="form-control"
                                                   id="deleteId" name="id" readonly>
                                            <br/>

                                            <strong><label for="deleteName">Name</label></strong>
                                            <br/>
                                            <input type="text" class="form-control"
                                                   id="deleteName" name="name" readonly>
                                            <br/>

                                            <strong><label for="deleteEmail">Email</label></strong>
                                            <br/>
                                            <input type="text" class="form-control"
                                                   id="deleteEmail" name="email" readonly>

                                            <br/>

                                            <strong><label
                                                    for="deleteUsername">Username</label></strong>
                                            <br/>
                                            <input type="text" class="form-control"
                                                   id="deleteUsername" name="username" readonly>

                                            <br/>

                                            <strong><label for="deleteRoles">Role</label></strong>
                                            <select multiple class="form-control w-100"
                                                    size="2"
                                                    id="deleteRoles"
                                                    name="nameRoles" readonly>
                                                <option value="2_ADMIN">ADMIN</option>
                                                <option value="1_USER">USER</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer justify-content-end">
                                    <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close
                                    </button>
                                    <input type="submit" class="btn btn-danger"
                                           value="Delete"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--                New User-->
                <div class="tab-pane fade" id="addUser">
                    <div class="row">
                        <div class="col border bg-light">
                            <p><h5>Add user</h5>
                        </div>
                        <div class="w-100"></div>
                        <div class="col border bg-white text-center">
                            <br/>
                            <form id="addForm">

                                <div class="form-group row justify-content-center">
                                    <div class="col-sm-4">
                                        <strong><label for="addName">Name</label></strong>
                                        <br/>
                                        <input type="text" class="form-control" name="name" id="addName"
                                               placeholder="Name" required minlength="1" maxlength="50">

                                        <strong><label for="addEmail">Email</label></strong>
                                        <br/>
                                        <input type="text" class="form-control" name="email" id="addEmail"
                                               placeholder="Email" required minlength="1" maxlength="20">

                                        <strong><label for="addUsername">Username</label></strong>
                                        <br/>
                                        <input type="text" class="form-control" name="username" id="addUsername"
                                               placeholder="Username" required minlength="1" maxlength="50">

                                        <strong><label for="addPassword">Password</label></strong>
                                        <br/>
                                        <input type="password" class="form-control" name="password"
                                               id="addPassword" placeholder="Password" required>

                                        <strong><label for="addRoles">Role</label></strong>
                                        <select multiple class="custom-select w-100"
                                                size="2" id="addRoles" name="nameRoles">
                                            <option value="2_ADMIN">ADMIN</option>
                                            <option value="1_USER" selected>USER</option>
                                        </select>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-success">
                                    Add user
                                </button>
                                <br/>
                                <br/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="admin.js"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>


</body>
</html>