<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>User</title>

</head>
<body>

<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <form class="form-inline">
            <b><span class="navbar-text-xl text-white" th:text="${user.email}"></span></b>
            <span class="navbar-text-xl text-white">&nbsp with roles: &nbsp</span>
            <span class="navbar-text-xl text-white" th:text="${user.getRolesAsString()}"></span>
        </form>
        <ul class="navbar-nav float-lg-right">
            <li class="nav-item">
                <a class="nav-link text-muted" th:href="@{/logout}">EXIT</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid bg-light">
    <div class="row">
        <!--        левая колонка-->

        <div class="col-lg-2 bg-white min-vh-100">
            <ul class="nav nav-pills flex-column">
                <br/>
                <div sec:authorize="${hasRole('ADMIN')}">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">Admin</a>
                    </li>
                </div>
                <li class="nav-item">
                    <a class="nav-link active" th:href="@{/user}">User</a>
                </li>

            </ul>
        </div>

        <!--        правая колонка-->
        <div class="col-lg-10 bg-light">
            <br>
            <h1>User information page</h1>


            <div class="w-100"></div>
            <div class="col border bg-white">
                <br/>

                <div class="tab-content">
                    <div class="tab-pane table-striped container-fluid active">
                        <div class="row">
                            <div class="col border bg-light">
                                <p><h5>User info</h5>
                            </div>
                            <div class="w-100"></div>
                            <div class="col border bg-white">
                                <br/>
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Username</th>
                                        <th>Role</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td th:text="${user.getId()}"></td>
                                        <td th:text="${user.getName}"></td>
                                        <td th:text="${user.getEmail}"></td>
                                        <td th:text="${user.getUsername}"></td>
                                        <td th:text="${user.getRolesAsString}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>

</html>